* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0 70px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    padding: 30px;
    border-radius: 20px;
}

.calculadora #input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    background-color: #ddd;
    text-align: right;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculadora .button_calcular {
    grid-column-start: 3;
    grid-column-end: 5;
}

.button {
    padding: 10px 20px;
    border: 1px gray solid;
}

.button:hover {
    background-color: rgb(199, 199, 199);
}

.button:active {
    background-color: rgb(255, 255, 255);
}
